{% extends "layout.html" %}

{% block content %}
<div class="spacing-acc">
    <div class="account-content-section">
        <legend class="account-header my-acc-head"><p class=" acc-head acc-head-info">Account Info</p></legend>
        <div class="media acc-content-img">
            <div class="acc-img-con">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <label for="change-profile" class="change-pic-label">
                    Edit Picture <i class="fas fa-edit change-pic-button"></i>
                </label>
            </div>
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="acc-email">{{ current_user.email }}</p>
                <p class="acc-desc">"Avid Audiology user and music enthusiast."</p>
            </div>
        </div>
        <form class="app-form" method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group acc-input">
                    <h3 class="acc-header-sm">Personal Information</h3>
                    {{ form.username.label(class="form-control-label") }}
    
                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control form-control-lg audio-forms") }}
                    {% endif %}
                </div>
                <div class="form-group acc-input">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg audio-forms") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture(class="form-control-file", id="change-profile") }}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <label for="acc-submit" class="acc-submit-label edit-prof-button">Update</label>
                {{ form.submit(class="btn acc-button", id="acc-submit" ) }}
            </div>
        </form>
    </div>
</div>

{% endblock content %}