{% extends "layout.html" %}

{% block content %}

<div class="create-style">

    <form class="create-form create-form-add-song" method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="create-logo-con add-song-head">
            <h2 class="create-name"><p class="create-name-name">Add a Song</p></h2>
        </div>
        <fieldset class="create-input-groups login-input-groups">
            <div class="form-group acc-input create-spacing">
            
                {{ form.song_name.label(class="form-control-label") }}
                {% if form.song_name.errors %}
                {{ form.song_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.song_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.song_name(class="form-control form-control-lg audio-forms audio-forms-create") }}
                {% endif %}
            </div>
            <div class="form-group acc-input create-spacing">
                {{ form.year.label(class="form-control-label") }}
                {% if form.year.errors %}
                {{ form.year(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.year.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.year(class="form-control form-control-lg audio-forms audio-forms-create") }}
                {% endif %}
            </div>
            <div class="form-group acc-input create-spacing">
                {{ form.artist.label(class="form-control-label") }}
                {% if form.artist.errors %}
                {{ form.artist(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.artist.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.artist(class="form-control form-control-lg audio-forms audio-forms-create") }}
                {% endif %}
            </div>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
            </div>            
            
        </fieldset>
        <div class="form-group create-label-con login-label">
            <label for="add-song-button" class="acc-submit-label create-submit-label">Add Song</label>
            {{ form.submit(class="btn btn-outline-info add-song-but", id="add-song-button") }}
        </div>
    </form>
</div>

{% endblock content %}