{% extends "layout.html" %}
{% block content %}
<div class="home-con">
    <h2 class="head-font"><p class="comm-p">Community Songs</p></h2>
    {% for song in songs.items %}
    
    <article class="media music-main-con-con content-section con-spacer">
        <div class="media-body song-con">

            <div class="content-container song-con song-con-con d-flex justify-content-between align-items-center">
                <img class="img-responsive" id="song-img-{{song.id}}" src="{{ song.image_file }}" style="width: 1rem; height: auto; display: none;"> 
                <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Preview" onclick="aud_play_pause({{song.id}});">
                    <i id="stateicon-{{song.id}}" class="music-button music-button-{{song.id}} far fa-play-circle" style="color:white; font-size: 40px;"></i>
                </a>
                <div class="song-details content-text flex-fill m-3 ">

                    <h2 class="song-name-space">
                        <a id="song-name-{{song.id}}" class="stuff article-title" >{{ song.name }}</a>
                        {% if song not in playlist.songs %}
                        <label class="add-heart-all empty-heart" id="empty-heart-{{song.id}}" for="add-to-playlist-{{song.id}}">
                            <a class="add-heart-all" id="add-to-playlist-{{song.id}}" href="{{ url_for('users.update_playlist', add_song_to_playlist=song.id) }}"><i class="far fa-heart add-to-heart"></i></a></label>
                        {% else %}
                        <label class="add-heart-all fullheart" for="delete-from-playlist{{song.id}}">
                            <a id="delete-from-playlist{{song.id}}" href="{{ url_for('users.user_playlist', username=user.username, delete_song=song.id) }}">
                                <i class="fas fa-heart added-full-heart"></i>
                            </a>
                        </label>
                        {% endif %}
                        <a>
                            <a class="dots-s" id="dots-{{song.id}}" onclick="toggleEdit({{song.id}})">
                                <i class="fas fa-ellipsis-v dots" style="font-size:13px; height: 12px; margin-bottom: 12px;"></i>
                            </a>
                            <div class="drop-down" id="dots-drop-{{song.id}}">
                                <div class="drop-a-con">
                                    <a class="drop-a" href="{{ url_for('posts.update_song', song_id=song.id) }}">Edit</a>
                                </div>
                            </div>


                        </a>
                    </h2>
                    <p class="article-font name-bottom-divider">
                        <a id="artist-name-{{song.id}}">{{ song.artist.name }} </a>
                        <a id="stuff song-duration-{{song.id}}" class="render-time duration-text article-title" ></a>
                    </p>
    
                </div>
    
                <div class="audio-content align-items-center">
                    <audio id="player-{{song.id}}" src='{{ song.audio_file }}' class="render-audio embed-responsive-item">
                    </audio>
                    
                </div>
                <script>

                    function toggleEdit(id) {
                        console.log("toggled");
                        document.getElementById(`dots-drop-${id}`).classList.toggle("show");
                    }



                    // function changes empty heart on hover
                    $(function() {
                        const icons = document.getElementsByClassName("empty-heart");
                        for (icon of icons) {
                            $(icon).hover(function() {
                                $(this).children().removeClass("far fa-heart");
                                $(this).children().addClass("fas fa-heart");

                            }, function() {
                                $(this).children().removeClass("fas fa-heart");
                                $(this).children().addClass("far fa-heart");
                            })
                        }
            

                    })


                    function aud_play_pause(id) {
                        var myAudio = document.getElementById(`player-${id}`);

                        //initial time in seconds
                        const initialSeconds = readSeconds(myAudio.duration);
                        console.log("time in seconds:", initialSeconds);

                        const initialTime = readDuration(myAudio.duration);
                        document.getElementById("total-time").innerHTML = initialTime;


                        const botButton = document.getElementById("bot-play-func");
                        $(botButton).attr("onClick",`aud_play_pause(${id})` );


                        if (myAudio.paused) {
                        $(`#stateicon-${id}`).removeClass(`music-button-${id} far fa-play-circle`);
                        $(`#stateicon-${id}`).addClass(`music-button-${id} far fa-pause-circle`);
                        $("#bot-play-button").removeClass("fas fa-play");
                        $("#bot-play-button").addClass("fas fa-pause");

                        // Change img depending on audio clicked
                        const img = document.getElementById(`song-img-${id}`);
                        const imgSrc = $(img).attr("src");
                        $("#player-img").attr("src", imgSrc);

                        // remove the visibility blocker
                        const visible = document.getElementById("bot-details");
                        $(visible).removeClass("not-visible");
                        
                        // set song name and artist depending on audio clicked
                        const song = document.getElementById(`song-name-${id}`);
                        const artist = document.getElementById(`artist-name-${id}`);
                        $("#song-song").text($(song).text());
                        $("#song-artist").text($(artist).text());
                        
                        myAudio.play();
                        
                        } else {
                        $(`#stateicon-${id}`).removeClass(`music-button-${id} far fa-pause-circle`);
                        $(`#stateicon-${id}`).addClass(`music-button-${id} far fa-play-circle`);
                        $("#bot-play-button").removeClass("fas fa-pause");
                        $("#bot-play-button").addClass("fas fa-play");
                        myAudio.pause();
                        }
                    }

                    // function sets time as audio plays. 
                    // looks at initial duration and sets the percentage done to be the progress bar
                    function setTime(audio, duration) {
                        if (audio < duration) {
                            const timeAudio = readDuration(audio);
                            console.log("audio",audio)
                            
                            const progress = (audio / duration) * 643.5;
                            console.log(progress);
                            $(document.getElementById("gradient")).css("width", progress);
                            console.log($(document.getElementById("gradient")).css("width"));
                            document.getElementById("play-time").innerHTML = timeAudio; 
                        }
                    }

                    // looks at all elements with the same class.
                    // then, attaches a "playing" listener on all.
                    // then, attaches a ontimeupdate listener which calls the setTime function.
                    $(function() {
                        const audio = document.getElementsByClassName("render-audio");
                        for (item of audio) {
                            item.addEventListener("playing", (event) => {
                                const myAudio = event.target.id;
                                console.log(myAudio)
                                const newAudio = document.getElementById(myAudio);
                                const duration = newAudio.duration;
                                console.log(duration)
                                console.log(newAudio)
                                newAudio.ontimeupdate = function() {
                                    setTime(newAudio.currentTime, duration);
                                }
                            })
                        }
                    })

                    function readDuration(seconds) {
                        sec = Math.floor( seconds );    
                        min = Math.floor( sec / 60 );
                        min = min >= 10 ? min : '0' + min;    
                        sec = Math.floor( sec % 60 );
                        sec = sec >= 10 ? sec : '0' + sec;    
                        return min + ':' + sec;
                    }

                    function readSeconds(time) {
                        sec = Math.floor(time);
                        return sec;
                    }

                    window.onload = function getTime() {

                        $("a.render-time").each(function(){
                            const duration = $(this).parent().parent().parent().children(".audio-content").children(".render-audio")[0].duration;
                            this.innerHTML = readDuration(duration);
                        })

                    }


                </script>
            </div>
       
    
           
        </div>
    </article>

{% endfor %}
</div>
    <div id="bottom-player" class="bottom-player">
        <div class="bottom-song-details">
            <div id="bot-details" class="bot-song-details-con not-visible">
                <img id="player-img">
                <div class="bottom-song-con">
                    <p id="song-song">song name</p>
                    <p id="song-artist">song artist</p>
                </div>
            </div>
        </div>
        <div class="progress-bar">
            <p id="play-time"></p>
            <div class="gradient-box">
                <div id="gradient" class="gradient"></div>
                <div class="background-bar" id="background-bar"></div>
            </div>
            <p id="total-time">0:00</p>

        </div>
        <div class="bottom-options">
            <div class="bot-options-con">
                <a href="javascript:void(0)" id="bot-back" class="btn btn-default" data-toggle="tooltip" title="Preview" onclick="" >
                    <i id="bot-back-button" class="fas fa-step-backward" style="color:white; font-size: 15px;"></i>
                </a>
                <a href="javascript:void(0)" id="bot-play-func" class="btn btn-default" data-toggle="tooltip" title="Preview" onclick="" >
                    <i id="bot-play-button" class="fas fa-play" style="color:white; font-size: 15px;"></i>
                </a>
                <a href="javascript:void(0)" id="bot-next" class="btn btn-default" data-toggle="tooltip" title="Preview" onclick="" >
                    <i id="bot-next-button" class="fas fa-step-forward" style="color:white; font-size: 15px;"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}

