@import 'https://fonts.googleapis.com/css?family=Mada';

* {
    font-family: "Mada", sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: #a6a6a6;
    background-size: 100% 100%;
    font-family: "Mada", sans-serif;
    background-color: #2f2f31;
    padding-bottom: 70px;
}

.home-con {
    max-height: 800px;
    overflow-y: scroll;
    padding-bottom: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #c3c3c3;
}

audio::-webkit-media-controls-panel {
    /* background: rgb(44,43,51); */
    background: linear-gradient(90deg, rgba(44,43,51,1) 0%, rgba(41,41,41,1) 100%);
    border: none;
}


.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    padding: 10px 20px;
    border-radius: 3px;

}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}
.article-font {
    font-style: italic;
}
.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}


.account-heading {
    font-size: 1.65rem;
}

audio{
    width: 40rem;
}

.audio-content{
    align-content: center;
}


.pause-button {
    border: 2px solid;
    border-radius: 100%;
    padding: 10px;
    margin: 5px 5px 0 15px;
    cursor: pointer;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.article-title {
    font-size: 1.15rem;
    color: #a6a6a6;
}

#stateicon:hover {
    color:#24CEDB;
    font-size: 42px;
}

.song-details {
    margin-left: 1rem !important;
}

.album-cover {
    margin-left: 2rem !important;
}


.main {
    width: 100%;
}

.spacing-account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-container {
    z-index: 1000;
    position: relative;
}

.navbar, .footer-bot {
    background-color: #141414
}

.acc-button {

}

.home-con {
    margin-top: 6rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.head-font {
    font-size: 22px;
    min-width: 45rem;
    width: 45.3rem;
    margin-left: 19vw;
    height: 3.75rem;
}

.song-con {
    min-width: 45rem;
    display: flex;
    justify-content: center;
}

.song-con-con {
    border-bottom: 1px solid;
    border-color: white;
}

.song-name-son {
    display: flex;
    flex-direction: row;
}

.song-name-space {
    display: flex;
    justify-content: flex-end;
    height: 24px;
}

.song-name-space a:first-child {
    margin-right: auto;
}


.render-time {
    font-size: 13px;
    margin-top: 7px;
}

.article-font {
    margin-bottom: -1rem;
    display: flex;
    justify-content: flex-end;
}


.dots {
    color: #e5e5e5 !important;
}

.duration-text {
    font-style: normal;
}

.article-font a:first-child {
    margin-right: auto;
}

.head-logo {
    width: 30px;
    height: 30px;
    border: 0px black;
    border-radius: 50%;
    margin-right: 0.5rem;
}

div > a > .music-button {
    visibility: hidden;
}

div:hover > a > .music-button  {
    visibility: visible;
}

.music-button:hover {
    color: #65dce5 !important;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.name-bottom-divider {
    margin-bottom: 0.05rem !important;
}

.con-spacer {
    padding-top: none;
    margin-top: -1rem;
}

#bottom-player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    background: #141414;
    z-index: 1030;
    display: flex;
    flex-direction: row;
}

#player-img {
    width: 50px;
    height: 50px;
    border: 0px solid;
    border-radius: 50%;
    margin-right: 1rem;
}

.bottom-song-details {
    width: 17.5%;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 265px
}

.bot-song-details-con {
    width: 60%;
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}

.bottom-song-con {
    height: 50px;
}

.progress-bar {
    width: 65%;
    min-width: 990px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: #141414;
}

#play-time, #total-time  {
    font-size: 13px;
    margin: 0 !important;
    color: #cbd5db;
}

.gradient-box {
    width: 65%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.background-bar {
    height: 7px;
    border: 0px solid;
    border-radius: 1rem;
    width: 100%;
    background: grey;
    position: relative;
    z-index: 1;
}
#gradient {
    z-index: 10;
    position: absolute;
    height: 7px;
    border: 0px solid;
    border-radius: 1rem;
    width: 0;
    max-width: 100%;
    background: hsla(171, 100%, 48%, 1);

    background: linear-gradient(135deg, hsla(171, 100%, 48%, 0.8) 0%, hsla(310, 83%, 59%, 0.7) 100%);
    
    background: -moz-linear-gradient(135deg, hsla(171, 100%, 48%, 0.8) 0%, hsla(310, 83%, 59%, 0.7) 100%);
    
    background: -webkit-linear-gradient(135deg, hsla(171, 100%, 48%, 0.8) 0%, hsla(310, 83%, 59%, 0.7) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00F7D2", endColorstr="#ED3ED0", GradientType=1 );
}

.bottom-options {
    width: 17.5%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 266px;
}
.bottom-player {
    overflow-x: scroll;
}

#song-song, #song-artist {
    margin: 0 !important;
}

#song-song {
    font-size: 1.15rem;
    color: #cbd5db;
}

#song-artist {
    font-size: 13px;
    font-style: italic;
}
.not-visible {
    display: none;
}

.bot-options-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head-font {
    border-bottom: 1px solid white
}


@keyframes glow {
    from {
      text-shadow: 0 0 100px #24CEDB;
    }
    
    to {
      text-shadow: 0 0 100px #24CEDB ;
    }
  }

@media (min-width: 1200px) and (max-width: 1440px) {
    .container {
        max-width: 1400px;
    }
    .head-font {
        margin-left: 18rem;
    }
}
@media (min-width: 900px) and (max-width: 1199px) {
    .head-font {
        margin-left: 5.5rem;
    }
}

@media (min-width: 1441px) and (max-width: 1640px) {
    .container {
        max-width: 1500px;
    }
    .head-font {
        margin-left: 24rem;
    }
}

@media (min-width: 1641px) {
    .head-font {
        margin-left: 32rem;
    }
    .container {
        max-width: 1786px;
    }
}


/* account */

.spacing-acc {
    display: flex;
    justify-content: center;
    height: auto;
}

.account-content-section {
    height: 675px;
    margin-top: 6.75rem;
    width: 431px;
    min-width: 431px;
    border: 0px solid;
    box-shadow: 0.15rem 0.15rem 0.9rem #0e0e0e;
    background: #1c1c1d;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.account-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;

}

.no-margin {
    width: 85%;
    margin: 0 !important;
}

.acc-content-img {
    width: 366px;
    height: 175px;
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}

.app-form {
    width: 85%;
}

.acc-input {
    width: 70%;
}
.comm-p {
    color: #e5e5e5;
}
.acc-head {
    font-size: 28px;
    color: #e5e5e5;
}

.account-heading {
    color: #e5e5e5;
    font-size: 22px;
}

.account-img {
    height: 110px;
    width: 110px;
    margin-right: 1.25rem;
    margin-bottom: 16px;
}

.acc-desc {
    font-style: italic;
}

.acc-header-sm {
    font-size: 18px;
    margin-bottom: 1.25rem;
}

.audio-forms {
    height: 2rem;
    width: 18.5rem;
    font-size: 16px;
    color: #727272;
    border: 0px solid;
    background: rgba(67, 64, 64, 100)
}

.audio-forms:focus {
    background: #555353;
    color:#e5e5e5;
}

#acc-submit {
    display: none;
}

.acc-submit-label {
    height: 2.5rem;
    width: 8rem;
    color: #e5e5e5;
    border: 0px solid;
    border-radius: 1rem;
    background: rgb(33,30,30);
    background: linear-gradient(21deg, rgba(33,30,30,1) 62%, rgba(51,51,51,1) 97%);
    box-shadow: 0.15rem 0.15rem 0.9rem #131212;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acc-submit-label:hover {
    height: 2.65rem;
    width: 8.15rem;
    cursor: pointer;
}

#change-profile {
    display: none;
}

.acc-img-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-pic-label {
    margin-right: 1.25rem;
    color: #c3c3c3;
    font-size: 14px;
}

.change-pic-label:hover {
    cursor: pointer;
    font-size: 14.5px;
}
/* start here */

#create-account, #login-account {
    display: none;
}

.create-style {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}

.create-head {
    width: 70%;
}

.create-form {
    width: 431px;
    height: 800px;
    min-width: 431px;
    border: 0px solid;
    box-shadow: 0.15rem 0.15rem 0.9rem #0e0e0e;
    background: #1c1c1d;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.create-input-groups {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.create-spacing {
    margin-left: 5.75rem;
}

.create-head-spacing {
    margin-left: 5.75rem;
}

.audio-forms-create {
    width: 15.5rem;
}

.create-label-con {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 85px;
    align-items: center;
    max-height: 134px;
    margin-bottom: 0 !important;
}

.create-logo {
    width: 125px;
    height: 125px;
    border: 0px solid;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.create-logo-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.create {
    height: 300px;
}

.create-name-name {
    color: #e5e5e5;
    margin-bottom: 0;
}

.redirect-con {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.redirect {
    font-size: 13px;
}

a.redirect {
    text-decoration: none;
    color: #24CEDB;
}

.redirect:hover {
    color: #24CEDB;
    text-shadow:0px 0px 2px #24CEDB;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}


.login-label {
    height: 143px;
    max-height: 143px;
}

.login-redirect {
    height: 99px;
}

.login-input-groups {
    margin-top: 3rem;
}


#add-to-playlist {
    display: none;
}

.add-heart-all {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 1rem;
    color: #e5e5e5;
}

.add-heart-all:hover {
    color: #24CEDB;
    cursor: pointer;
}

.fullheart {
    color: #24CEDB;
}

.dots:hover {
    cursor: pointer;
}

#update-song {
    display: none;
}

.editor-style {
    height: 600px;
    width: 750px;
    display: flex;
    align-items: center;
}

.horizontal-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.editor-input-groups {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.large-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.text-area {
    width: 80%;
    min-height: 200px;
    margin-left: 4.5rem ;
}

.little-input {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 47.5%;
}

.first {
    margin-left: 4.5rem;
}

.editor-label {
    margin-left: 4.5rem;
}

.hori-group {
    width: 16.1rem;
}

.editor-name {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-add-to-playlist {
    display: none;
}

.added-full-heart {
    color: #24CEDB !important;
}

.added-full-heart:hover {
    font-sizE: 16px;
}   

/* .add-to-heart {
    z-index: 200;
}

.empty-heart {
    z-index: 1
} */

.playlist-format {
    margin-top: 10rem;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.playlist-text1 {
    font-size: 24px;
}

.playlist-text {
    font-size: 20px;
}

.playlist-goback {
    text-decoration: none;
    color: #24CEDB;
}

.playlist-goback:hover {
    font-size: 21px;
    text-decoration: none;
    color: #24CEDB;
}

.drop-down {
    position: relative;
    display: none;
}
.drop-a-con {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 5px;
}
.drop-a {
    font-size: 12px;
    width: 30px;
    height: 8px;
    border: 1px solid#141414;
    background: #141414;
}

.drop-a {
    text-decoration: none;
    color: white;
    padding: 2px 12px;
}

.drop-a:hover {
    text-decoration: none !important;
    color: white;
    background: #191919;
} 


.show {
    display: block;
}
